<%= form_for(@blog_post) do |f| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% @blog_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: "title" %>
  </div>
  <div class="field">
  <%= f.label :photo%>
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "content" %>
  </div>
  <div class="field">
    <%= f.text_field :tag_list,value: @blog_post.tag_list.to_s, placeholder:"add tags seperated by commas" %>
  </div>
  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
