<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80507147-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-80507147-1');
  </script>

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Space+Mono|Work+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">

  <!-- <title>Code Shopify | Tutorials</title> -->
  <title><%=h yield(:title)%></title>
  <!-- meta description -->
  <meta name="description" content="<%=h yield(:meta_description) %>">
  <%= favicon_link_tag 'logo-black.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- for Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@up_at_five">
  <meta name="twitter:creator" content="@up_at_five">
  <meta name="twitter:title" content="Code Shopify">
  <meta name="twitter:description" content="Shopify App and Theme Development tutorials for those who are familiar with code and want to dive into Shopify">
  <meta name="twitter:image" content="<%= asset_path('card-logo.jpg')%>">

  <!-- for Facebook -->
  <meta property="og:title" content="Code Shopify" />
  <meta property="og:image" content="<%= asset_path('card-logo.jpg')%>" />

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, :cache => 'cached/all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :cache => 'cached/all' %>
  <%= csrf_meta_tags unless response.cache_control[:public] %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>


  <div class="header">
    <div class="header-bar">
      <%
=begin%>
      <svg width="33px" height="25px" viewBox="0 0 33 25" version="1.1" xmlns="http://www.w3.org/2000/svg" id="open-menu">
        <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" data-reactid="8">
          <g id="About-Us" transform="translate(-54.000000, -51.000000)" fill="#1E46F4" data-reactid="9">
            <g id="Menu" transform="translate(54.000000, 46.000000)" data-reactid="10">
              <g transform="translate(0.000000, 5.000000)" id="Rectangle-2" data-reactid="11">
                <rect x="0" y="0" width="33" height="3.94736842" data-reactid="12"></rect>
                <rect class="line1" x="0" y="10.5263158" width="26.4" height="3.94736842" data-reactid="13"></rect>
                <rect class="line2" x="0" y="21.0526316" width="19.8" height="3.94736842" data-reactid="14"></rect>
              </g>
            </g>
          </g>
        </g>
      </svg>
      <%
=end%>
      <a href="/">Code Shopify</a>
      <a href="http://www.upatfive.ca" target="_blank">About</a>
      <div class="search">
        <i class="fa fa-search"></i>
        <div class="search-form">
          <%= form_tag blog_posts_path, method: :get do %>
          <%= text_field_tag :search, params[:search] %>
          <% end %>
        </div>
      </div>
    </div>
    <%
=begin%>
    <div class="hidden menu">
      <p class="close"><%= image_tag  "close.svg" %></p>
      <ul>
        <li><a href="http://www.upatfive.ca" target="_blank">about</a></li>
        <li><a href="http://www.upatfive.ca/about#contact-area" target="_blank">contact us</a></li>
        <li><a href="https://www.shopify.ca/?ref=up-at-five" target="_blank">Sign up for Shopify</a></li>
      </ul>
      <p class="description signup">Sign up to be the first to know about new tutorials</p>
      <form class="form--subscribtion" action="https://tinyletter.com/up_at_five" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/up_at_five', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><input type="text" name="email" id="tlemail" /><input type="hidden" value="1" name="embed" /><input type="submit" value="join our email list" /></form>
      <%
=end%>
      <!-- <img class="menu-logo" src="/static/up-at-five-logo.575dd8c1.png" alt=""> -->
      <%
=begin%>
    </div>
    <%
=end%>
    <!-- </div> -->
  </div>
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user.present? %>
    <ul class="nav--sign-in">
      <% if current_user.profile.present? %>
        <li><%= link_to "My Profile", profile_path(current_user.profile)%></li>
      <% end %>
      <li><%= link_to "Format Guide", formatguide_show_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'button' %></li>
    </ul>
  <% end %> -->
  <!-- <div class="sidebar">
    <%= link_to blog_posts_path, class: 'logo' do%>
      <%= image_tag 'logo.svg'%>
      <h1>Code Shopify</h1>
    <% end %>
    <p class="description">Shopify App and Theme Development tutorials for those who are familiar with code and want to dive into Shopify.</p>
    <p class="description affiliate-description">Use this link to sign up for Shopify and we both win 🙌</p>
      <%= link_to "https://www.shopify.com/?ref=up-at-five", target: :_blank  do %>
      <%= image_tag "shopify.svg", class: 'affiliate' %>
    <% end %> 
    <p class="description signup">Sign up to be the first to know about new tutorials</p>
      <form class="form--subscribtion"action="https://tinyletter.com/up_at_five" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/up_at_five', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><input type="text" name="email" id="tlemail" /><input type="hidden" value="1" name="embed"/><input type="submit" value="join our email list" /></form>
  </div> -->
  <%
=begin%>
  <div class="wrapper--flex"></div>
  <%
=end%>
  <div class="wrapper--grey">
    <%= link_to root_path do %><h1 class="up-five-title">Shopify App and Theme Development tutorials for those who are familiar with code and want to dive into Shopify.</h1><%end %>
    <!-- <section id="videos" class="videos">
      <p class="video-close"><%= image_tag  "close.svg" %></p>
      <div class="wrapper--flex">
        <%= image_tag 'ShopifyUnite.jpg' %>
        <div class="videos-info">
          <h3>Hey Everyone!</h3>
          <p> 🎉 We've created 2 new video tutorial series </p>
          <p>One is about integrating React directly into your Shopify theme.</p>
          <p>The other is about creating a full Shopify app with Polaris React components.</p>
          <p>Check them out <a href="https://codeecommerce.com/" target="_blank">here</a></p>
          <h3>Hi Folks</h3>
          <p>With a lot of us practicing social distancing and self-quarantine we wanted to put out our video courses for <u><b>free</b></u>. For us, learning something new can provide a bit of respite from a racing mind. If this is true for you too, please dive in!</p>
          <p>If you feel you can afford to, please consider donating any portion of the cost of this course to a local charity or purchase a gift certificate to a small business. A lot of folks will feel both the physical and financial burden of this pandemic and seemingly small contributions when multiplied go a long way.</p>

        </div>
      </div>
    </section>-->

    <a href="https://www.shopify.ca/?ref=up-at-five" target="_blank" class="button button-centered" id="roadmap-open">Sign up for Shopify</a>


    <!-- <nav class="container">
      <%= link_to 'About', about_path, class: 'menu-link' %>
      <%= link_to 'Blog', blog_posts_path, class: 'menu-link' %>
      <%= link_to 'Roadmap', roadmap_path, class: 'menu-link'%>
      <ul class="social">
        <li><a href="https://twitter.com/up_at_five" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/upat5/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/up_at_five/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </nav>
    <div class="search container container--flex">
      <div class="search-form vis-hidden col--two  no-width">
        <%= form_tag blog_posts_path, method: :get do %>
          <%= text_field_tag :search, params[:search] %>
        <% end %>
      </div>
      <i class="fa fa-search"></i>
    </div> -->
    <%= yield %>
    <%
=begin%>
    <div class="social-bar">
      <a href="https://github.com/upatfive" target="_blank"><span aria-hidden="true" class="fa fa-github"></span></a>
      <a href="https://twitter.com/up_at_five" target="_blank"><span aria-hidden="true" class="fa fa-twitter"></span></a>
      <a href="https://www.linkedin.com/company/up-at-five/" target="_blank"><span aria-hidden="true" class="fa fa-linkedin"></span></a>
    </div>
    <%
=end%>
  </div>

  <footer>
    <%
=begin%>
    <a href="http://upatfive.ca/" target="_blank">
      <%= image_tag 'up_at_five_logo.png'%>
    </a>
    <%
=end%>
    <div class="">
      <div class="info">
        <ul>
          <li><a href="http://www.upatfive.ca/">up at five</a></li>

        </ul>
      </div>
      <div class="info">
        <ul>
          <li><a href="https://www.shopify.ca/?ref=up-at-five" target="_blank">sign up for Shopify and we both win 🙌</a></li>
        </ul>
      </div>
      <div class="info">
        <ul>
          <li><a href="mailto:hello@upatfive.ca?Subject=Hello">hello@upatfive.ca</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <% if controller.controller_name == "blog_posts"%>
  <div class="roadmap hidden">
    <p class="roadmap-close">×</p>
    <p class="desc">A little direction on which tutorials to follow to get started with either theme or app development.</p>
    <h2 class="secondary-title-light">Getting Started With Theme Development</h2>
    <ol>
      <% @theme_posts.each do |post| %>
      <li><%= link_to post.title, blog_post_path(post) %></li>
      <% end %>
    </ol>
    <h2 class="secondary-title-light">Getting Started with App Development</h2>
    <ol>
      <% @app_posts.each do |post| %>
      <li> <%= link_to post.title, blog_post_path(post) %></li>
      <% end %>
    </ol>
    <h2 class="secondary-title-light">Getting Started with the JavaScript SDK</h2>
    <ol>
      <% @js_posts.each do |post| %>
      <li><%= link_to post.title, blog_post_path(post) %></li>
      <% end %>
    </ol>
  </div>
  <% end %>

  <script>
    $('.fa-search').on('click', function() {
      $('.search-form').toggleClass('vis-hidden').toggleClass('no-width')
    })
    $('#open-menu').on('click', () => {
      $('.menu').removeClass('hidden')
    })
    $('.close').on('click', () => {
      $('.menu').addClass('hidden')
    })

    // $('#roadmap-open').on('click', (e) => {
    //   e.preventDefault();
    //   $('.roadmap').removeClass('hidden')
    // })

    $('.roadmap-close').on('click', () => {
      $('.roadmap').addClass('hidden')
    })

    $('.video-close').on('click', () => {
      $('#videos').hide();
    })

    // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    // })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    // ga('create', 'UA-80507147-1', 'auto');
    // ga('send', 'pageview');
  </script>



</body>

</html>