<!DOCTYPE html>
<html>
<head>
  <title>Code Shopify | Tutorials</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- for Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@up_at_five">
  <meta name="twitter:creator" content="@up_at_five">
  <meta name="twitter:title" content="Code Shopify">
  <meta name="twitter:description" content="Shopify App and Theme Development tutorials for those who are farmiliar with code and want to dive into Shopify">
  <meta name="twitter:image" content="<%= asset_path('card-logo.jpg')%>">

  <!-- for Facebook -->
  <meta property="og:title" content="Code Shopify" />
  <meta property="og:image" content="<%= asset_path('card-logo.jpg')%>" />

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user.present? %>
    <ul class="nav--sign-in">
      <% if current_user.profile.present? %>
        <li><%= link_to "My Profile", profile_path(current_user.profile)%></li>
      <% end %>
      <li><%= link_to "Format Guide", formatguide_show_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'button' %></li>
    </ul>
  <% end %>


  <div class="sidebar">
    <%= link_to blog_posts_path, class: 'logo' do%>
      <%= image_tag 'logo.svg'%>
      <h1>Code Shopify</h1>
    <% end %>
    <p class="description">Shopify App and Theme Development tutorials for those who are farmiliar with code and want to dive into Shopify.</p>
      <form class="form--subscribtion"action="https://tinyletter.com/up_at_five" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/up_at_five', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><input type="text" name="email" id="tlemail" /><input type="hidden" value="1" name="embed"/><input type="submit" value="join our email list" /></form>
  </div>

  <div class="site-content">
    <nav class="container">
      <%= link_to 'About', about_path, class: 'menu-link' %>
      <%= link_to 'Blog', blog_posts_path, class: 'menu-link' %>
      <%= link_to 'Roadmap', roadmap_path, class: 'menu-link'%>
      <ul class="social">
        <li><a href="https://twitter.com/up_at_five" target="_blank"><i class="fa fa-twitter"></i></a></li><!--
          *--><li><a href="https://www.facebook.com/upat5/" target="_blank"><i class="fa fa-facebook"></i></a></li><!--
          *--><li><a href="https://www.instagram.com/up_at_five/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </nav>
    <%= yield %>
  </div>




</body>
</html>
