<!DOCTYPE html>
<html>
<head>
  <title>Code Shopify | Tutorials</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user.present? %>
    <ul class="nav--sign-in">
      <% if current_user.profile.present? %>
        <li><%= link_to "My Profile", profile_path(current_user.profile)%></li>
      <% end %>
      <li><%= link_to "Format Guide", formatguide_show_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'button' %></li>
    </ul>
  <% end %>


  <div class="sidebar">
    <%= link_to 'Blog', blog_posts_path %>
    <%= link_to 'About', about_path %>
    <ul class="social">
      <li><a href="https://twitter.com/up_at_five" target="_blank"><i class="fa fa-twitter"></i></a></li><!--
        *--><li><a href="https://www.facebook.com/upat5/" target="_blank"><i class="fa fa-facebook"></i></a></li><!--
        *--><li><a href="https://www.instagram.com/up_at_five/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul>
  </div>

  <div class="site-content">
    <%= yield %>
  </div>




</body>
</html>
